div.notice ,
div.error ,
div.warning ,
div.message {
  margin: 1em auto;
  text-align: center;
  width: 500px;
  border: 3px solid #ccc;
  padding: 10px;
  font-weight: bold;
  font-size: 12pt;
}

div.error {
  background-color: #ff7777;
}

div.warning {
  background-color: #ffbb77;
}

form.button-to ,
form.button-to div {
  display: inline;
}

form.button-to input {
  cursor: pointer;
  cursor: hand;
  background-color: transparent;
  border: 0;
  color: #2266DD;
}

form.button-to input:hover {
  text-decoration: underline;
  color: #DF3801;
}

div.subnav ul {
  list-style-position: inside;
  list-style-type: disc;
  color: #06F;
}
