<h1>Listing Users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
  </tr>

<% @users.each do |u| %>
  <tr>
    <td><%=h u.login %></td>
    <td><%=h u.email %></td>
    <td><%= link_to 'Edit', edit_admin_user_path(u) %></td>
    <td><%= link_to 'Destroy', admin_user_path(u), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
